:root {
  /* color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-black: #2f3233;
  --color-blue: #00acd7;
  --color-light-blue: #aadae7;
  --color-light-gray: #dfdfdf;
  --color-light-brown: #c69375;
  --color-light-green: #27e895;

  /* font-size */
  --font-big: 2rem;
  --font-large: 1.5rem;
  --font-medium: 1.25rem;
  --font-regular: 1.15rem;
  --font-small: 0.9rem;
  --font-micro: 0.7rem;
  --font-nano-micro: 0.56rem;

  /* width */
  --screen-width: 1024px;
  --screen-small-width: 768px;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

li {
  list-style: none;
}

h3 {
  font-size: var(--font-big);
  color: var(--color-blue);
}

h4 {
  font-size: var(--font-large);
  margin-bottom: 20px;
}

span {
  color: var(--color-light-brown);
}

p {
  font-size: var(--font-small);
  margin-bottom: 40px;
}

ul {
  padding: 0;
}

/* header */
.header_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 2%;
  height: 80px;
}

.header_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-blue);
}

.header_menu_text {
  font-family: "Righteous", cursive;
}

.header_menu_text {
  font-size: 0.8rem;
}

.header_menu i {
  font-size: 2.3rem;
}

.header_logo img {
  width: 230px;
  height: 100%;
  filter: invert(48%) sepia(71%) saturate(3689%) hue-rotate(162deg)
    brightness(103%) contrast(101%);
}

.header_cart i {
  font-size: 1.7rem;
  margin-right: 15px;
  color: var(--color-blue);
}

/* content */
.content {
  text-align: center;
}

/* product */
.product {
  padding: 40px 0px;
  /* background: linear-gradient(to top, #00acd7, #aadae7); */
  background: linear-gradient(0deg, #ffffff 0%, #00acd7 10%, #aadae7 78%);
}

.product_text {
  font-size: var(--font-big);
  margin-bottom: 40px;
}

.product_image {
  width: 180px;
  height: 300px;
}

.product_title {
  margin: 25px 0px;
  font-style: italic;
  font-family: "Crete Round", serif;
  color: var(--color-light-brown);
}

.product_promotion {
  background: radial-gradient(circle, #ffffff 0%, #00acd7 0%, #aadae7 100%);
}

.product_promotion_box {
  max-width: var(--screen-width);
  display: flex;
  padding: 80px 40px;
  margin: auto;
}

.product_promotion_image_area {
  width: 500px;
  height: 450px;
  margin-right: 40px;
  background-color: #92ecfc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_promotion_image_area li {
  max-width: 180px;
}

.product_promotion_image_area li img {
  width: 100%;
  height: 300px;
}

.product_promotion_info {
  max-width: 400px;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.product_name {
  font-size: var(--font-large);
  margin-bottom: 40px;
}

.product_giveaway {
  margin-top: 20px;
  font-size: var(--font-small);
}

.merit_list {
  display: flex;
  margin-bottom: 40px;
}

.merit_list li:not(:last-child) {
  margin-right: 10px;
}

.merit_list_item {
  width: 100%;
}

.basket_goods_cart {
  width: 100%;
  height: 60px;
  background-color: var(--color-light-black);
  margin-bottom: 20px;
  font-size: var(--font-regular);
  color: var(--color-white);
  text-align: center;
  line-height: 60px;
}

.basket_goods_cart i {
  margin-left: 30px;
}

.product_review {
  width: 100%;
  height: 60px;
  font-size: var(--font-regular);
  background-color: var(--color-white);
  border: 5px solid var(--color-light-green);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_review div {
  margin: 0px 10px;
}

.product_review_brand {
  font-family: "Fjalla One", sans-serif;
  color: var(--color-light-green);
}

.fa-arrow-right-from-bracket {
  color: var(--color-light-green);
}

/* point */
.point {
  margin: 70px auto;
  max-width: var(--screen-small-width);
  padding: 0px 40px;
}

.point_text {
  font-size: var(--font-regular);
  margin-bottom: 40px;
  text-align: start;
}

.point_img {
  display: flex;
}

.point_img li:not(:last-child) {
  margin-right: 15px;
}

.point_img img {
  width: 100%;
}

/* features */
.features {
  padding: 50px 0;
  background: linear-gradient(
    0deg,
    rgba(213, 237, 242, 1) 17%,
    rgba(155, 233, 251, 1) 38%,
    rgba(155, 233, 251, 1) 62%,
    rgba(213, 237, 242, 1) 83%
  );
}

.features_box {
  max-width: var(--screen-width);
  margin: auto;
  padding: 0 40px;
}

.features_info {
  height: 100%;
  padding: 50px 0;
  margin: 0 40px 80px 40px;
  max-width: var(--screen-width);
  background-color: var(--color-white);
}

.features_infobox {
  max-width: var(--screen-small-width);
  padding: 0 20px;
  margin: auto;
}

.features_infobox_image1 {
  max-width: 350px;
  margin: auto;
}

.features_infobox_image1 img {
  width: 100%;
  height: 300px;
}

.features_infobox_image2 {
  display: flex;
}

.features_infobox_image2 li:not(:last-child) {
  margin-right: 40px;
}

.features_infobox_image2 img {
  width: 100%;
}

.features_infobox_innertext {
  margin-bottom: 30px;
  font-size: var(--font-medium);
}

.features_infobox_innertext_advice {
  margin: 15px 0 30px 0;
  font-size: var(--font-small);
}

.check_point {
  text-align: start;
  font-size: var(--font-medium);
}

.check_point_text {
  display: flex;
  margin-bottom: 20px;
}

.check_point_text img {
  width: 30px;
  height: 30px;
}

/* line-up */
.product_line_up img {
  width: 100%;
}

/* banner slides */
.banner_slides img {
  width: 200px;
}

/* footer */
.footer {
  text-align: center;
}

.footer_language {
  width: 300px;
  height: 40px;
  font-size: 1.2rem;
  margin-top: 40px;
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
  background-color: var(--color-white);
}

.footer_language:hover {
  cursor: pointer;
}

.footer_sns {
  margin-top: 20px;
  color: var(--color-blue);
}

.footer_sns_icon {
  width: 100px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.fa-brands {
  font-size: 30px;
  margin: 20px 0 40px 0;
}

.footer_attention {
  background-color: var(--color-light-gray);
  text-align: start;
}

.footer_attention_box {
  max-width: var(--screen-width);
  font-size: var(--font-micro);
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 50px 40px 0 40px;
}

.footer_attention_info {
  max-width: 380px;
  margin-right: 60px;
}

.footer_attention_title {
  font-weight: bold;
}

.footer_attention_text {
  margin-top: 8px;
}

.footer_customer_info {
  margin-top: 40px;
}

.footer_customer_tel {
  font-size: var(--font-large);
  font-weight: bold;
  margin-top: 8px;
}

.footer_customer_tel img {
  width: 40px;
}

.footer_attention_banner {
  max-width: 450px;
}

.footer_attention_banner_image img {
  width: 100%;
}

.footer_logo {
  text-align: center;
  padding: 30px 0 20px 0;
}

.footer_logo img {
  width: 150px;
  height: 80px;
  filter: invert(48%) sepia(71%) saturate(3689%) hue-rotate(162deg)
    brightness(103%) contrast(101%);
}

.footer_link_box {
  font-size: var(--font-micro);
  background-color: var(--color-black);
}

.footer_link {
  background-color: var(--color-light-black);
  height: 50px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer_link li:not(:last-child) {
  margin-right: 15px;
}

.footer_link li a {
  color: var(--color-white);
}

.copyright {
  color: var(--color-white);
  text-align: right;
  padding-right: 20px;
  height: 30px;
  line-height: 30px;
}

/* responsive width 768px  */
@media screen and (max-width: 768px) {
  /* header */
  .header_bar {
    height: 60px;
  }

  .header_menu_text {
    font-size: var(--font-micro);
  }

  .header_menu i {
    font-size: var(--font-big);
  }

  .header_cart i {
    font-size: var(--font-large);
  }

  /* product */
  .product_promotion_box {
    flex-direction: column;
    align-items: center;
    max-width: 400px;
  }

  .product_promotion_image_area {
    width: 100%;
    margin: 0 0 30px 0;
  }

  .product_promotion_info {
    margin: 0;
  }

  /* point */
  .point_text {
    font-size: var(--font-small);
  }

  /* features */
  .features_info {
    margin: 0 0 80px 0;
  }

  .features_infobox_image1 {
    padding: 0 20px;
  }

  .features_infobox_innertext {
    font-size: var(--font-small);
  }

  .features_infobox_innertext_advice {
    font-size: var(--font-micro);
  }

  .check_point {
    font-size: var(--font-small);
  }

  /* footer */
  .footer_attention_info {
    max-width: 480px;
    margin: 0 auto 40px auto;
  }

  .footer_attention_banner {
    margin: auto;
    max-width: 480px;
  }

  .footer_attention_box {
    flex-direction: column;
    text-align: center;
  }

  .footer_attention_banner {
    max-width: 270px;
  }

  .footer_attention_banner_image {
    text-align: center;
    margin-top: 20px;
  }

  .footer_attention_banner_image img {
    width: 250px;
  }

  .footer_logo img {
    width: 110px;
  }
}

/* responsive width 480px  */
@media screen and (max-width: 480px) {
  h4 {
    font-size: var(--font-regular);
  }

  /* header */
  .header_logo img {
    width: 200px;
  }

  /* product */
  .product_image {
    width: 165px;
  }

  .product_promotion_box {
    padding: 80px 20px;
  }

  .product_promotion_image_area li {
    max-width: 160px;
  }

  .product_promotion_image_area li img {
    width: 100%;
    height: 250px;
  }

  /* point */
  .point_text {
    font-size: var(--font-micro);
  }

  /* features */
  .features_box {
    padding: 0 10px;
  }

  .features_infobox_image1 {
    max-width: 320px;
  }

  .features_infobox_image1 img {
    height: 250px;
  }

  .features_infobox_innertext {
    font-size: var(--font-micro);
  }

  .features_infobox_innertext_advice {
    font-size: var(--font-nano-micro);
  }

  .check_point {
    font-size: var(--font-micro);
  }

  /* footer */
  .footer_attention_banner_image img {
    max-width: 320px;
    height: 150px;
  }

  .footer_logo img {
    width: 80px;
    height: 60px;
  }
}

/* responsive width 400px  */
@media screen and (max-width: 400px) {
  /* header */
  .header_logo img {
    width: 180px;
  }

  /* product */
  .product_text {
    font-size: var(--font-large);
  }

  .product_image {
    width: 150px;
  }

  .product_promotion_image_area {
    /* width: 500px; */
    height: 350px;
  }

  .product_promotion_image_area li {
    max-width: 150px;
  }

  .product_promotion_image_area li img {
    width: 100%;
    height: 200px;
  }

  .product_name {
    font-size: var(--font-medium);
  }

  .product_giveaway {
    font-size: var(--font-micro);
  }

  .basket_goods_cart {
    font-size: var(--font-small);
  }

  .product_review {
    font-size: var(--font-small);
    border: 5px solid var(--color-light-green);
  }

  /* features */
  .features_infobox_image1 {
    max-width: 250px;
  }

  .features_infobox_image1 img {
    height: 180px;
  }

  /* footer */
  .footer_attention_banner_image img {
    max-width: 270px;
    height: 150px;
  }

  .footer_link_box {
    font-size: var(--font-nano-micro);
  }
}
